.con-admin {
    .login-header {
        padding: 50px 0;
    }

    .form-group {
        label {
            font-size: 0.8em;
            margin-bottom: 0.2rem;
        }

        .form-control {
            padding: 3px 10px;
            font-size: 0.9rem;
        }

        select.form-control:not([size]):not([multiple]) {
            height: auto;
        }
    }

    .image-preloader {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 100;
        transition: all 300ms;
        opacity: 0;
    }
}
