.post-preview {
    margin-top: 20px;
}

.post,.post-preview {
    //padding-bottom: 20px;
    padding: 10px 0 20px;
    background-color: #fff;

    .header-stripe {
        margin-top: -10px;
        background-color: $color1; //$main-color-lighten-4;
        height: 150px;
        background-position: center;
        background-size: cover;

        @media screen and (min-width: $break-large) {
            height: 250px;
        }
    }

    .post-title, .post-subtitle, .post-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .post-content {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    >a {
        >.post-title, >.post-subtitle {
            padding-left: 20px;
            padding-right: 20px;

        }

        &:hover {
            color: $color1;
        }
    }

    .post-meta {
        text-align: right;
        padding-right: 20px;
        padding-left: 20px;
    }
}
