.post-preview {
    margin-bottom: 20px;
}

.post,.post-preview {
    //padding-bottom: 20px;
    padding: 10px 0 20px;
    background-color: #fff;

    h1 {
        font-size: 2rem;
    }

    .header-stripe {
        margin-top: -10px;
        background-color: $color1; //$main-color-lighten-4;
        height: 150px;
        background-position: center;
        background-size: cover;

        @media screen and (min-width: $break-large) {
            height: 250px;
        }
    }

    .post-title, .post-subtitle, .post-content {
        padding-left: 20px;
        padding-right: 20px;
        word-break: break-word;
    }

    .post-content {
        padding-top: 30px;
        padding-bottom: 50px;

        a {
            text-decoration: underline;
        }
    }

    &.meta-post {
        h1 {
            padding-top: 20px;
        }

        .meta-content {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    >a {
        >.post-title, >.post-subtitle {
            padding-left: 20px;
            padding-right: 20px;
        }

        &:hover {
            color: $color1;
        }
    }

    .post-meta, .post-tags, .translate-content {
        text-align: right;
        padding-right: 20px;
        padding-left: 20px;

        margin: 5px 0;

        a {
            text-decoration: none;
        }
    }
}
