body > .container-fluid {
    background-color: $color1;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mainNav {
    position: relative;
    background-color: $main-color;
    z-index: 1;
    border-bottom: none;

    .navbar-toggler {
        color: #fafafa;
    }
    .navbar-brand {
        padding:0;
        margin:0;
        width: 50%;

        img {
            max-height: 60px;
            max-width: 100%;
        }
    }
}

header.masthead {
    margin-bottom: 0;

    .page-heading,.post-heading,.site-heading {
        padding: 80px 0 50px;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading {
        padding:80px 0
    }
}

.con-page {
    .post {
        padding: 30px 20px 50px;
    }
}

.btn-sm {
    padding: 8px 12px;
    font-size: 11px;
}

.file-preview {
    width: 100%;

    .image-wrapper {
        position: relative;
        img {
            width: 100%;
        }

        .btn {
            position: absolute;
            right: 7px;
            top: 9px;
            width: 40px;
        }
    }
}

.image-box {
    width: 100%;
    background-color: #efefef;

    .image-wrapper {
        width: calc(50% - 10px);
        margin: 5px;
        float: left;
        text-align: center;
        position: relative;

        .image {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .image:before {
        	content: "";
        	display: block;
        	padding-top: 100%;
        }

        &.image-several .image {
            opacity: 0.5;
        }

        .more {
            font-family: "Open Sans";
            position: absolute;
            top: 44%;
            left: 0;
            right: 0;
            color: #fff;
            font-size: 12px;
            font-weight: 800;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

}

.image-box:after {
    clear: both;
}
