
#mainNav {
    position: inherit;
    background-color: #212529;
    opacity: .5;

    .navbar-toggler {
        color: #fafafa;
    }
}

.post-preview {
    .post-picture {
        width: 100%;
    }
}

.btn-sm {
    padding: 8px 10px;
    font-size: 11px;
}
